/*
GENERAMIENTO DE ESTILOS
1. posiconamiento
2.modelo de caja(box mode)
3.tipografia
4.efectos visuales
5.otros

*/
:root { /* variables*/
  /*COLORES*/
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grye: #bababa;
--off-white: #fefff7;
--just-white: #fff;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /* fondo degradiente*/
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center; /* ajustar contenedor en el centro respecto del padre*/
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold; /**/
    line-height: 2.6rem;
    color: var(--just-white);

}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500; /* permite establecer el grosor con el que se muestran las letras del texto.*/
    line-height: 1.8rem;  /* espacio que hay en el entrelineado del texto o la caja*/
    color:  var(--soft-orange);
}
.header--title-container .header--buttom {
    position: absolute;
    left: calc(50% - 118px); /* para hacer claculo sobre el posiciosonamiento*/
    top: 270px;
    display: block;
    margin-top: 35px ;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    border: none;
    border-radius: 6px;
    /*fuente*/
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    


}
.header--buttom span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
    
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);

}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;  /*sirve para que la imagen se adacte a todo el espacio del contenedor padre. */
    background-position: center;
    background-repeat: no-repeat;


}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);

}
.main-exchange-container--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    
}
.main-table-container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    


}
.main-currency-table {
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 10% 0 14%;
    
    font-family: 'Inter', sans-serif;

}
.main-currency-table .currency-table--title {
   margin-bottom: 15px;
   font-size: 1.8rem;
   font-weight: bold;
   line-height: 2.3rem;
   color: var(--bitcoin-orange);

}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;


}
.currency-table--container table{
    width: 100%;
    height: 100%;

}
.currency-table--container td { 
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grye);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius:0 15px 0 0;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;

}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height:  1.7rem;
    color: #757575;

}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--soft-orange);

}
.currency-table--date p {
    
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--warm-black);
    line-height: 1.2rem;


}
.main{  
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    width: 100%;


}
.main-container{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 14% 0 10%;
    scroll-snap-align: center;
    font-family: 'Inter', sans-serif;

}
.main-container .main-container--title {

     
     margin-bottom: 15px;
     font-size: 1.8rem;
     font-weight: bold;
     line-height: 2.3rem;
     text-align: center;
     color: var(--secondary-blue);

}
.srtable {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    max-width: 300px;
    min-height: 230px;



}
.srtable table {
    width: 100%;
    height: 100%;
}
.main-container td{
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--grye);
    background-color: var(--just-white);
}
.srtable .top__left {
    border-radius: 15px 0 0 0;

    
}
table .top__right{
    border-radius: 0 15px 0 0;
    
}
.srtable table .buttom--right {
     border-radius: 0 0 15px 0;

}
.srtable table .buttom--left {
    border-radius: 0 0 0 15px;

}
.srtable .column-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;


}
.currency-table--date2 {
    background-color: var(--soft-blue);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    width: 190px;

    



}
.currency-table--date2 p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2rem;
    color: var(--warm-black);
    
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 20px 18px;
    height: auto;
    background-color: #201E1C;

}
.product-detail--batata-logo {
 position: absolute;
 width: 40px;
 height: 25px;
 top: -10px;
 left: calc(50% - 20px); /* se le resta los 20px ya que la imagen tiene cuarenta, y si le quitamos los 20px el calculo se haria desde el medio de la imagen*/
 background-image: url('./assets/icons/batata.svg');



}
.product-detail--title {
     width: 90%;
     min-width: 288px;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     text-align: center;


}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;

    height:150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0 , 0, 0.16);

}
.product-detail--card .icon-card  {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

}
.clock {
    background-image: url('./assets/icons/clock.svg');
   
}
.eye {
    background-image: url('./assets/icons/eye.svg');
}
.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.circle {
    background-image: url('./assets/icons/check-circle.svg');
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);

}
.product--card-body {
    font-size: 1.4rem ;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-contaier {
    width: 100%;
    min-width: 320px;
    min-height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.bitcoin-img-contaier h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin:0 auto;
    margin-bottom: 8px;


} 
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);


}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll; /*scroll horizontal overflow-x

    La propiedad de CSS overflow-x establece lo que se muestra cuando el contenido desborda los bordes izquierdo y derecho de un elemento a nivel de bloque. Puede que no sea nada, una barra de desplazamiento o el contenido adicional.
    
    overscroll-behavior
    
    la propiedad de css overscroll-behabior establece lo que hace un navegador cuando alcanza el límite de un área de desplazamiento. Es una abreviatura de overscroll-behavior-x y overscroll-behavior-y.
    
    scroll-snap-type
    
    La propiedad CSS scroll-snap-type establece qué tan estrictamente se aplican los puntos de snap en el contenedor de desplazamiento en caso de que haya uno*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center; /*para cuando se pare en una tarjeta esa misma se centre en el width*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 8px 0;
    padding: 0 10px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73, 30, 0.1);


}
.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    padding: 6px;
    top: -15.5px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;

}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
 
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);

} 
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    top: 40px;
    left: 30%;
    font-weight: 500;


}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575 ;
 
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;

    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
   

 
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;/*sirve para alinear */
}
.plan-card--price3 span {
    left: 25%;
  
}
.plan-info-continer .plan-card--ca2 {
    margin-top: 31px;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);

}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}
.footer .left {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
    
}
.left ul {
    list-style-type: none;
}
.left li {
    margin: 10px 0px;

}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
/*scroll horizontal*/




