.container-detail {
    display: flex;
    flex-wrap: wrap;
    width: 947px;
    margin: 0 auto;
    
}
.product-cards--container {
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
}
